<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Compass</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/styles/style.css" th:href="@{/static/styles/style.css}"/>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}"/>
</head>
<body>
<h1>Tools</h1>
<h2 th:text="${User.carrier.title} + ' (' + ${User.carrier.rating} + ')'"></h2>
<p>Click <a th:href="@{/}">here</a> to see a main page.</p>
<div class="content">
    <h2>Add template</h2>
    <div class="new_template">
        <form th:action="@{/carrier/tools}" method="post" th:object="${Template}">
            <div><label> count tickets : <input type="number" th:field="*{countTickets}"/></label></div>
            <div><label> price : <input type="number" step="0.01" th:field="*{price}"/></label></div>

<!--            <div><label> Direction:-->
<!--                <div th:each=" stop : *{stops}">-->
<!--                    <div th:object="${stop}">-->
<!--                        stop-->
<!--                        <select th:field="*{id}">-->
<!--                            <option th:each="point : ${ALLStops}"-->
<!--                                    th:value="${point.id}"-->
<!--                                    th:text="${point.title}">-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </label></div>-->
            <div><input type="submit" value="Add Stop" name="addStop"/></div>
            <div><label> Choice transport:
                <select th:field="*{transport.id}">
                    <option th:each="transport : ${Transports}"
                            th:value="${transport.id}"
                            th:text="${transport.title}"></option>
                </select>
            </label></div>
            <div><input type="submit" value="Add Template" name="addTemplate"/></div>
        </form>
    </div>

    <div th:if="${User.getCarrier().templates} != null">
        <h2>Templates:</h2>
        <div th:each="template : ${User.getCarrier().templates}" class="rides">
            <div th:object="${template}">
                <div th:text="'id: ' + *{id}"></div>
                <div>stops:</div>
                <div th:each="stop : *{stops}">
                    <div th:object="${stop}">
                        <div th:text="'--> ' + *{title}"></div>
                    </div>
                </div>
                <div th:switch="*{transport}">
                    <div th:case="*" th:text="'transport: ' + *{transport.title}"></div>
                    <div th:case="null" th:text="'transport: Transport is not specified'"></div>
                </div>
                <div th:text="'seats: ' + *{countTickets}"></div>
                <div th:text="'price: ' + *{price}"></div>

                <div th:if="*{rides.size() == 0}">
                    <form th:action="@{/carrier/tools}" method="post">
                        <label>
                            <input hidden name="templateId" type="number" th:value="*{id}">
                        </label>
                        <input type="submit" value="Delete Template" name="deleteTemplate"/>
                    </form>
                </div>

                <h3>Add Ride</h3>
                <form th:action="@{/carrier/tools}" method="post">
                    <label>
                        <input hidden name="templateId" type="number" th:value="*{id}">
                    </label>
                    <input type="submit" value="Add Ride" name="addRide"/>
                </form>

                <div th:if="*{getRides() != null}">
                    <h3>Rides:</h3>
                    <div th:each="ride : ${template.getRides()}" class="ride">
                        <div th:object="${ride}">
                            <div th:text="'id: ' + *{id}"></div>
                            <div th:text="'isValid: ' + *{valid}"></div>
                            <div th:text="'discounts: ' + *{discounts}"></div>
                            <div th:text="'departureDate: ' + *{departureDate}"></div>
                            <div th:text="'returnDate: ' + *{returnDate}"></div>
                            <div th:text="'views: ' + *{views}"></div>
                            <div th:text="'free seats count: ' + *{freeSeats.size()} + '/' + ${template.countTickets}"></div>
                            <div th:text="'free seats: ' + *{freeSeats}"></div>

                            <div th:if="${template.countTickets} == *{freeSeats.size()}">
                                <form th:action="@{/carrier/tools}" method="post">
                                    <label>
                                        <input hidden name="rideId" type="number" th:value="*{id}">
                                    </label>
                                    <input type="submit" value="Delete Ride" name="deleteRide"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>