<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Compass</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/styles/style.css" th:href="@{/static/styles/style.css}"/>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}"/>
</head>
<body>
<h1>Tools</h1>
<p>Click <a th:href="@{/}">here</a> to see a main page.</p>
<div class="content">
    <h2>Templates</h2>
    <div class="new_template">
        <form th:action="@{/carrier/tools}" method="post">
            <div><label> count tickets : <input type="number" th:field="*{Template.countTickets}"/></label></div>
            <div><label> price : <input type="number" step="0.01" th:field="*{Template.price}"/></label></div>
            <div><label> Choice direction:
                <select th:field="*{Template.direction.id}">
                    <option th:each="direction : ${Directions}"
                            th:value="${direction.id}"
                            th:text="${direction.stopsToString()}"></option>
                </select>
            </label></div>
            <div><label> Choice transport:
                <select th:field="*{Template.transport.id}">
                    <option th:each="transport : ${Transports}"
                            th:value="${transport.id}"
                            th:text="${transport.title}"></option>
                </select>
            </label></div>
            <div><input type="submit" value="Add"/></div>
        </form>
    </div>

    <div th:each="temp : ${User.getCarrier().getTemplates()}" class="templates">
        <div th:text="'id: ' + ${temp.getId()}"></div>
        <div th:text="'price: ' + ${temp.getPrice()}"></div>
        <div th:text="'seats: ' + ${temp.getCountTickets()}"></div>
        <div th:text="'direction: ' + ${temp.getDirection().stopsToString()}"></div>
        <div th:text="'transport: ' + ${temp.getTransport().getTitle()}"></div>
    </div>
</div>
</body>
</html>