<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Compass</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/styles/style.css" th:href="@{/static/styles/style.css}"/>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}"/>
</head>
<body>
<h1>Tools</h1>
<p>Click <a th:href="@{/}">here</a> to see a main page.</p>
<div class="content">
    <h2>Templates</h2>
    <div class="new_template">
        <form th:action="@{/carrier/tools}" method="post">
            <div><label> count tickets : <input type="number" th:field="*{Template.countTickets}"/></label></div>
            <div><label> price : <input type="number" step="0.01" th:field="*{Template.price}"/></label></div>

            <h2>Direction:</h2>
            <div th:each="stop: ${Template.stops}">
                <div class="stop">
                    <p th:text="'Id: ' + ${stop.id} + ' | Stop: ' + *{stop.title}"></p>
                </div>
<!--                <select th:field="*{stop.id}">-->
<!--                    <option th:each="gStop : ${Stops}"-->
<!--                            th:value="${gStop.id}"-->
<!--                            th:text="${gStop.title}"></option>-->
<!--                </select>-->
            </div>
            <div><input type="submit" value="Add Stop" name="addStop"/></div>
            <div><label> Choice transport:
                <select th:field="*{Template.transport.id}">
                    <option th:each="transport : ${Transports}"
                            th:value="${transport.id}"
                            th:text="${transport.title}"></option>
                </select>
            </label></div>
            <div><input type="submit" value="Add Template" name="addTemplate"/></div>
        </form>
    </div>
    <div th:each="temp : ${User.getCarrier().getTemplates()}" class="templates">
        <div th:text="'id: ' + ${temp.getId()}"></div>
        <div th:text="'price: ' + ${temp.getPrice()}"></div>
        <div th:text="'seats: ' + ${temp.getCountTickets()}"></div>
        <div th:text="'direction: ' + ${temp.getStops()}"></div>-->
        <div th:text="'transport: ' + ${temp.getTransport().getTitle()}"></div>
    </div>
</div>
</body>
</html>