<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <style>
        table td{
            vertical-align:top;
            border:solid 1px #888;
            padding:10px;
        }

    </style>
    <title>Error</title>
</head>
<body>
<table>
    <tr>
        <td>Date</td>
        <!--/*@thymesVar id="timestamp" type="java.lang.String"*/-->
        <td th:text="${timestamp}"></td>
    </tr>
    <tr>
        <td>Path</td>
        <!--/*@thymesVar id="path" type="java.lang.String"*/-->
        <td th:text="${path}"></td>
    </tr>
    <tr>
        <td>Error</td>
        <!--/*@thymesVar id="error" type="java.lang.String"*/-->
        <td th:text="${error}"></td>
    </tr>
    <tr>
        <td>Status</td>
        <!--/*@thymesVar id="status" type="java.lang.String"*/-->
        <td th:text="${status}"></td>
    </tr>
    <tr>
        <td>Message</td>
        <!--/*@thymesVar id="message" type="java.lang.String"*/-->
        <td th:text="${message}"></td>
    </tr>
    <tr>
        <td>Exception</td>
        <!--/*@thymesVar id="exception" type="java.lang.String"*/-->
        <td th:text="${exception}"></td>
    </tr>
    <tr>
        <td>Trace</td>
        <td>
            <!--/*@thymesVar id="trace" type="java.lang.String"*/-->
            <pre th:text="${trace}"></pre>
        </td>
    </tr>
</table>
</body>
</html>