<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <title>Compass</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Welcome!</h1>
<p>Click <a th:href="@{/greeting}">here</a> to see a greeting.</p>
<div class="register">
    <p>Click <a th:href="@{/registration/passenger}">here</a> to register as a passenger.</p>
    <p>Click <a th:href="@{/registration/carrier}">here</a> to register as a carrier.</p>
</div>
<div class="filter">
    <h2>filter</h2>
    <form action="" method="post">
        <div class="direction">
            <label> From: <input type="text"></label>
            <label> To: <input type="text"></label>
        </div>
        <div class="date">
            <label> Departure date: <input type="text"></label>
            <label> Return date: <input type="text"></label>
        </div>
        <div class="transport">
            <label> Choice transport:
                <select>
                    <option>bus</option>
                    <option>fly</option>
                    <option>train</option>
                </select>
            </label>
        </div>
    </form>
</div>
</body>
</html>