<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <title>Compass login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <h1>Authorization</h1>
        <div th:if="${param.error}">
            <p>Invalid login and password.</p>
        </div>
        <div th:if="${param.logout}">
            <p>You have been logged out.</p>
            <p>Click <a th:href="@{/}">here</a> to see a main page.</p>
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> Login : <input type="text" name="username"/></label></div>
            <div><label> Password: <input type="password" name="password"/></label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        <p>Click <a th:href="@{/}">here</a> to see a main page.</p>
        <p>Click <a th:href="@{/registration/passenger}">here</a> to register as a passenger.</p>
    </body>
</html>