<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

    <head>
        <title>Compass</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/planes_map.css}"/>
    </head>

    <body>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="https://d3js.org/queue.v1.min.js"></script>
        <script src="https://d3js.org/topojson.v0.min.js"></script>
        <script src="../static/js/planes_map.js" th:src="@{/js/planes_map.js}"></script>
    </body>
</html>