<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Compass Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Registration</h1>
<form th:action="@{/registration}" method="post">
    <div>
        <label> Login : <input type="text" th:field="*{passenger.username}"
                               th:class="${#fields.hasErrors('passenger.username')}? fieldError"/></label>
    </div>
    <div>
        <label> Password: <input type="password" th:field="*{passenger.password}"
                                 th:class="${#fields.hasErrors('passenger.password')}? fieldError"/></label>
        <!--<p th:each="error: ${#fields.errors('passenger.password')}"
           th:text="${error}">Validation error</p>-->
    </div>
    <div><input type="submit" value="Register"/></div>
</form>
<p>Click <a th:href="@{/}">here</a> to see a main page.</p>
</body>
</html>