<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Compass</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/styles/style.css" th:href="@{/static/styles/style.css}"/>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}"/>
</head>
<body>
<h1>Passenger profile</h1>
<p>Click <a th:href="@{/}">here</a> to see a main page.</p>
<div class="content">

</div>
</body>
</html>