<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Compass</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/styles/style.css" th:href="@{/static/styles/style.css}"/>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}"/>
</head>
<body >
<div th:object="${Passenger}">
    <h1>Passenger profile</h1>
    <h2 th:text="*{l_name}"></h2>
    <h2 th:text="*{f_name}"></h2>
    <h2 th:text="*{m_name}"></h2>
    <h3 th:text="'Raiting: ' + *{rating}"></h3>
    <p>Click <a th:href="@{/}">here</a> to see a main page.</p>

    <div class="content">
        <h3>Edit profile</h3>
        <form th:action="@{/passenger/tools}" method="post">
            <div><label> First name : <input type="text" th:field="*{f_name}"/></label></div>
            <div><label> Last name : <input type="text" th:field="*{l_name}"/></label></div>
            <div><label> Middle name : <input type=text th:field="*{m_name}"/></label></div>
            <div><input type="submit" value="edit" name="edit"/></div>
        </form>
    </div>
</div>

<div class="tickets">
    <h3>tickets list</h3>
    <div th:if="${Passenger.getTickets()} != null">
        <div th:each="ticket : ${Passenger.tickets}" th:object="${ticket}" class="rides">
            <div th:text="'carrier: ' + *{carrier.title}"></div>
            stops:
            <div th:each="stop : *{ride.template.stops}">
                <div th:text="'--> ' + ${stop.title}"></div>
            </div>
            <div th:text="'seat: ' + *{seat}"></div>
            <div th:text="'isLuggage: ' + *{luggage}"></div>
            <div th:text="'isChildren: ' + *{children}"></div>
            <div th:text="'ticketstatus: ' + *{ticketstatus.title}"></div>
        </div>
    </div>
</div>
</body>
</html>