.filter{
    width:50%;
    border: 4px double black;
    background: #fc3;
    padding: 10px;
}

.rides{
    width:50%;
    border: 4px double black;
    background: #ac3;
    padding: 10px;
}

.ride{
    border: 4px double black;
    background: #fc3;
    padding: 10px;
}

.templates{
    width:50%;
    border: 4px double black;
    background: #3ac;
    padding: 10px;
}

.new_template{
    width:50%;
    border: 4px double black;
    background: #a3c;
    padding: 10px;
}